*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    color: #c0c8d8;
}
@media (min-width: 10px)
{
    .Areas{
        padding-top: 4rem;
        padding-left: 22%;
        padding-right: 22%;
    }
}
@media (max-width: 1500px)
{
    .Areas{
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media (max-width: 1250px)
{
    .Areas{
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media (max-width: 700px)
{
    .Areas{
        padding-left: 5%;
        padding-right: 5%;
    }
}

body{
    background-color: #212428;
}
.cardsAreas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.card{
    width: 17rem;
    height: 18rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.342), -10px -10px 25px -10px rgba(255, 255, 255, 0.082);
    
}
@media (max-width: 600px)
{
    .card{
        width: 100%;
        height: auto;
        
    }
}
.card H2{
    text-align: center;
    margin-bottom: 1rem;
}
.videos{
    /* margin-top: -9rem; */
    width: 100%;
    border-radius: 4%;
    margin-bottom: 0.5rem;
}
.titulo{
    text-align: center;
}
.titulo H1{
    font-size: 38px;
    margin-bottom: 3rem;
}
.titulo span{
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: #f9004d;
    font-weight: 600;
    margin-bottom: 2rem;
}
.autor{
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: #f9004d;
    font-weight: 600;
    margin-bottom: 1rem;
}
.containerBotao{
    display: flex;
    justify-content:center;
    margin-bottom: 3rem;
}
.cotacaoAreas {
    display: flex;
    justify-content:center;
    align-items: center;
    text-decoration-line: none;
    width: 25rem;
    height: 3.5rem;
    border: 0;
    border-radius: 5px;
    background-color: #212428;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #f9004d;
    font-weight: 700;
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.342),
        -5px -5px 5px -5px rgba(255, 255, 255, 0.082);
    cursor: pointer;
}
@media (max-width: 769px)
{
    .cotacaoAreas {
        width: 100%;
    }
}